<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>硬件计算 | 关于我们</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/flexslider.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="js/jquery.min.js"></script>
  <script src="/javascripts/cookie.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
  <div class="container"> <a class="navbar-brand" href="index2.html"><i class="fa fa-laptop"></i> 硬件计算</a>
    <div class="menu"> <a class="toggleMenu" href="#"><img src="images/nav_icon.png" alt="" /> </a>
      <ul class="nav" id="nav">
        <li class="current"><a href="index2.html">主页</a></li>
        <li><a href="about.html">关于我们</a></li>
        <li><a href="services.html">硬件计算</a></li>
        <li><a href="news.html">新闻</a></li>
        <li><a class="login" href="login.html">登录</a></li>
        <li><a  class= "signin" href="register.html">注册</a></li>
        <div class="clear"></div>
      </ul>
      <script type="text/javascript" src="js/responsive-nav.js"></script> 
    </div>
  </div>
</div>
<div class="about">
  <div class="container">
    <section class="title-section">
      <h1 class="title-header">关于我们</h1>
    </section>
  </div>
</div>
<div class="about_content">
  <div class="container">
    <div class="row">
      <div class="col-md-8"> <img src="images/9.jpg" class="img-responsive" alt=""/>
        <p>本网站根据最新的数据，采用合理算法，免费为您提供个性化的装机推荐，同时本团队有专业的装机人员可以为您提供一对一的装机推荐服务与全程跟进。</p>
      </div>
      <div class="col-md-4">
        <div class="block-heading-two">
          <h3><span>我们的优势</span></h3>
        </div>
        <div class="panel-group" id="accordion-alt3">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3"> <i class="fa fa-angle-right"></i>采用优秀的推荐算法</a> </h4>
            </div>
            <div id="collapseOne-alt3" class="panel-collapse collapse">
              <div class="panel-body">
                <p>采用GA算法，根据最新的硬件数据与权威网站的硬件跑分，为您推荐最合适您的装机配置，省去了寻找配置的困扰</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3"> <i class="fa fa-angle-right"></i> 为您带来全网最新资讯</a> </h4>
            </div>
            <div id="collapseTwo-alt3" class="panel-collapse collapse">
              <div class="panel-body">
                <p>如果您对硬件新闻感兴趣，这里会给您带来惊喜</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3"> <i class="fa fa-angle-right"></i>优秀的一对一专人装机服务</a> </h4>
            </div>
            <div id="collapseThree-alt3" class="panel-collapse collapse">
              <div class="panel-body">
                <p>针对特殊需求，我们有知识丰富的专业团队为您提供专人服务，从挑选配置到实际装机，为您提供一条龙服务</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="highlight-info">
  <div class="overlay spacer">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-3 col-xs-6"> <i class="fa fa-smile-o fa-5x"></i>
          <h4>120+ 固定客户</h4>
        </div>
        <div class="col-sm-3 col-xs-6"> <i class="fa fa-check-square-o fa-5x"></i>
          <h4>600+ 专人装机实践</h4>
        </div>
        <div class="col-sm-3 col-xs-6"> <i class="fa fa-database fa-5x"></i>
          <h4>海量查询数据统计</h4>
        </div>
        <div class="col-sm-3 col-xs-6"> <i class="fa fa-spinner fa-5x fa-spin"></i>
          <h4>更多功能还在上线中</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact">
  <div class="container">
    <div class="row contact_top">
      <div class="col-md-4 contact_details">
        <h5>QQ:</h5>
        <div class="contact_address">756362171</div>
      </div>
      <div class="col-md-4 contact_details">
        <h5>电话:</h5>
        <div class="contact_address"> +86 185 8873 1396<br>
        </div>
      </div>
      <div class="col-md-4 contact_details">
        <h5>Email:</h5>
        <div class="contact_mail"> mianbao753@gmail.com</div>
      </div>
    </div>
    <div class="contact_bottom">
      <h3>在线联系</h3>
      <p>我们的工作人员会在收到您的消息的第一时间与您联系.</p>
      <form method="post" action="contact-post.html">
        <div class="contact-to">
          <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '姓名';}">
          <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '电话';}" style="margin-left: 10px">
          <input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '邮箱';}" style="margin-left: 10px">
        </div>
        <div class="text2">
          <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">您可以介绍一下您的需求..</textarea>
        </div>
        <div> <a href="#" class="submit">发送</a> </div>
      </form>
    </div>
  </div>
</div>
<div class="testimonial-area">
  <div class="testimonial-solid">
    <div class="container">
      <h2>客户评价</h2>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"> <a href="#"></a> </li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""> <a href="#"></a> </li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""> <a href="#"></a> </li>
          <li data-target="#carousel-example-generic" data-slide-to="3" class=""> <a href="#"></a> </li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <p>"神奇的推荐算法，让我少花费了许多功夫"</p>
            <p><strong>- John Doe -</strong></p>
          </div>
          <div class="item">
            <p>"优秀的专人服务，全程不需要我操心，价格也很透明"</p>
            <p><strong>- John Smith -</strong></p>
          </div>
          <div class="item">
            <p>"这里的资讯很及时，我超喜欢这个地方的呢"</p>
            <p><strong>- John Smith -</strong></p>
          </div>
          <div class="item">
            <p>"多次使用这个网站，很方便"</p>
            <p><strong>- Linda Smith -</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer_bottom">
    <div class="follow-us"> <a class="fa fa-facebook social-icon" href="#"></a> <a class="fa fa-twitter social-icon" href="#"></a> <a class="fa fa-linkedin social-icon" href="#"></a> <a class="fa fa-google-plus social-icon" href="#"></a> </div>
    <div class="copy">
      <p>Copyright &copy; 2017 硬件推荐 </p>
    </div>
  </div>
</div>
</div>
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.flexslider.js"></script>
<script>
  $(function () {
      session_check();
  })
    function session_check() {
        uname=cookie.get('uname');
        if(uname==null){
            $(".login").text("登录");
            $(".signin").text("注册");
            $(".login").attr('href','login.html');
            $(".signin").attr('href','register.html');
            $(".signin").removeAttr('onclick');
            $('.demo1').append("<li class='news-item'><table cellpadding='1'><i class='fa fa-warning fa-lg'style='color:red;'></i>为了方便您比较查询到的结果，我们强烈建议您注册登录我们的网站 </table> </li>");
            $('.demo3').append("<li class='news-item'><table cellpadding='1'><i class='fa fa-warning fa-lg'style='color:red;'></i>您还未登陆，无法使用该功能 </table> </li>");
        }
        else{
            $(".login").text(uname);
            $(".signin").text("登出");
            $(".login").attr('href','#');
            $(".signin").attr('href','#');
            $(".signin").attr('onclick','logout()');
        }
    }
    function logout() {
        $.ajax({
            url:'/logout',
            type:'post',
            success: function(result,status){
                console.log(result,status);
                if(result.success==1){
                    cookie.delete("uname");
                    session_check();
                }
                else {
                    console.log('ERROR');
                    cookie.delete("uname");
                    session_check();
                }
            },
            error: function(result,status){
                console.log('ERROR');
                cookie.delete("uname");
                session_check();
            }
        });
    }
</script>
</body>
</html>
