<html>
<head>
    <title>
        智能硬件推荐
    </title>
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href='stylesheets/normalize.css' />
    <link rel="stylesheet" type="text/css" href='stylesheets/default.css'>
    <link href='stylesheets/bootstrap-theme.min.css' rel="stylesheet" type="text/css" />
    <link href='stylesheets/site.css' rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/cookie.js"></script>
    <link rel="stylesheet" href="/dist/ladda-themeless.min.css">
    <link rel="stylesheet" href="/stylesheets/prism.css">
</head>
<body>
<div class="head">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">硬件计算</a>
                <!--<a id="username" class="navbar-brand" href="#">us</a>-->
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="nickname"><span class="glyphicon glyphicon-user" ></span><font id='username'></font> </a></li>
                <li onclick="logout()"><a href="#"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
            </ul>
        </div>
    </nav>
</div>
    <!--左侧新闻栏-->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list-alt"></span><b>News</b></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="demo1">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="col-md-8">
        <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span><b>配置</b></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="demo2">
                        <li class="news-item">
                            <table cellpadding="4">
                            <tr>
                                <h5>CPU选项</h5>
                                <input type="radio" name="optionsRadiosinline1" id="optionsRadios1" value="option1" onclick="cpu_level(1)" checked>仅上网
                                <input type="radio" name="optionsRadiosinline1" id="optionsRadios2" value="option2"  onclick="cpu_level(2)">小型游戏
                                <input type="radio" name="optionsRadiosinline1" id="optionsRadios3" value="option3" onclick="cpu_level(3)">大型游戏
                                <input type="radio" name="optionsRadiosinline1" id="optionsRadios4" value="option4" onclick="cpu_level(4)">渲染工作
                                <div id="CPU_stor"></div>
                            </tr>
                        </table>
                        </li>
                        <li class="news-item" >
                            <table cellpadding="4">
                                <tr>
                                    <h5>GPU选项</h5>
                                    <input type="radio" name="optionsRadiosinline2" id="optionsRadios1" value="option1" onclick="gpu_level(1)" checked>无要求
                                    <input type="radio" name="optionsRadiosinline2" id="optionsRadios2" value="option2"  onclick="gpu_level(2)">小型游戏
                                    <input type="radio" name="optionsRadiosinline2" id="optionsRadios3" value="option3" onclick="gpu_level(3)">中型游戏
                                    <input type="radio" name="optionsRadiosinline2" id="optionsRadios4" value="option4" onclick="gpu_level(4)">大型游戏
                                </tr>
                            </table>
                        </li>
                        <li class="news-item">
                            <table cellpadding="4">
                                <tr>
                                    <h5>内存选项</h5>
                                    <input type="radio" name="optionsRadiosinline3" id="optionsRadios1" value="option1" onclick="ram_level(1)"checked>4g
                                    <input type="radio" name="optionsRadiosinline3" id="optionsRadios2" value="option2"  onclick="ram_level(2)" >8g
                                    <input type="radio" name="optionsRadiosinline3" id="optionsRadios3" value="option3" onclick="ram_level(3)">16g
                                </tr>
                            </table>
                        </li>
                        <li class="news-item">
                            <table cellpadding="4">
                                <tr>
                                    <h5>硬盘选项</h5>
                                    <input type="radio" name="optionsRadiosinline4" id="optionsRadios1" value="option1" onclick="rom_level(1)" checked>SSD 128G
                                    <input type="radio" name="optionsRadiosinline4" id="optionsRadios2" value="option2"  onclick="rom_level(2)" >SSD 128G+HDD iT
                                    <input type="radio" name="optionsRadiosinline4" id="optionsRadios3" value="option3" onclick="rom_level(3)">HDD 1T
                                    <input type="radio" name="optionsRadiosinline4" id="optionsRadios3" value="option4" onclick="rom_level(4)">SSD 256G
                                    <input type="radio" name="optionsRadiosinline4" id="optionsRadios3" value="option5" onclick="rom_level(5)">SDD 512G
                                </tr>
                            </table>
                        </li>
                        <li class="news-item">
                            <table cellpadding="4">
                                <tr>
                                    <h5>预算</h5>
                                    <input type="text" class="form-control" id="budget" name="username" placeholder="请输入预算" required>
                                </tr>
                            </table>
                        </li>
                        <li class="news-item">
                            <table cellpadding="4">
                                <tr>
                                    <button class="btn btn-primary ladda-button" data-style="zoom-in" onclick="submit()"><span class="ladda-label">计算配置</span></button>
                                </tr>
                            </table>
                        </li>
                        <div class="result">

                        </div>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>          
</body>
<script src="/dist/spin.min.js"></script>
<script src="/dist/ladda.min.js"></script>
<script>
    $(function () {
        session_check();
        document.cookie="cpu_level="+-1
        document.cookie="gpu_level="+-1;
        document.cookie="ram_level="+-1;
        document.cookie="rom_level="+-1;;
        console.log(cookie.get("uname"));
        cpu_level(1);
        gpu_level(1);
        ram_level(1);
        rom_level(1);
        $('#username').text(cookie.get("uname"));
        $.get("/getNews?firstget=1",function(data){
            var yitouNum = data;
            data.forEach(function (e) {
                console.log(e);
                $('.demo1').append("<li class='news-item'><table cellpadding='4'><tr> <td><img src='"+e.image+"' width='60'  /></td><h3>"+e.title+"</h3><td>"+e.keywords +"<a href='"+e.text+"'>Read more...</a></td> </tr> </table> </li>");
            })

        });
    })
function cpu_level(data) {
        console.log("CPU->"+data);
    document.cookie="cpu_level="+data;
}
    function gpu_level(data) {
        console.log("GPU->"+data);
        document.cookie="gpu_level="+data;
    }
    function ram_level(data) {
        console.log("ram->"+data);
        document.cookie="ram_level="+data;
    }
    function rom_level(data) {
        console.log("rom->"+data);
        document.cookie="rom_level="+data;
    }
    var t
    function stopCount()
    {
        clearTimeout(t)
    }
    function timedCount()
    {
        console.log("timecount");
        $.get("/calresult",function (data) {
            console.log(data);
            //data=JSON.parse(data);
            if(data.wait==1){
                console.log("等待结果");
                return;
            }
            else if(data.lowest==0){
                $('.result').empty();

                stopCount();
                if(data.cpu1!=null){
                    $('.result').append("<li class='news-item'><table cellpadding='4'><tr><h3>方案一：新硬件</h3> <h3>CPU:"+data.cpu1+"</h3><h3>GPU:"+data.gcard1+"</h3> <h3>内存:"+data.ram+"</h3><h3>硬盘:"+data.rom+"</h3></tr> </table> </li>");

                }
                if(data.cpu2!=null){
                    $('.result').append("<li class='news-item'><table cellpadding='4'><tr><h3>方案二：旧硬件</h3> <h3>CPU:"+data.cpu2+"</h3><h3>GPU:"+data.gcard2+"</h3> <h3>内存:"+data.ram+"</h3><h3>硬盘:"+data.rom+"</h3></tr> </table> </li>");
                }
            }
            else {
                stopCount();
                $('.result').empty();
                $('.result').append("<li class='news-item'><table cellpadding='4'><tr> <h3>最低预算="+data.lowest+"</h3> </tr> </table> </li>");
            }
        })
        t=setTimeout("timedCount()",2000)
    }
    function submit() {
        var select_json_flag=1;
        var select_json={};
        console.log($("#budget").val());
        validate($("#budget").val(),select_json_flag);
        select_json.budget=$("#budget").val();
        select_json.cpu_level=cookie.get("cpu_level");
        select_json.gpu_level=cookie.get("gpu_level");
        select_json.rom_level=cookie.get("rom_level");
        select_json.ram_level=cookie.get("ram_level");
        if(cookie.get("cpu_level")==-1){select_json_flag=-1; alert("请选择cpu!")};
        if(cookie.get("gpu_level")==-1){select_json_flag=-1;alert("请选择gpu!")}
        if(cookie.get("rom_level")==-1){select_json_flag=-1;alert("请选择硬盘!")}
        if(cookie.get("ram_level")==-1){select_json_flag=-1;alert("请选择内存!")}
        console.log(JSON.stringify(select_json));
        if(select_json_flag==1){
            $.post("/cal",select_json,function (data) {
                console.log(data);
                timedCount();
                return;
                //弃用 原tcp链接
                data=JSON.parse(data.resultjson);
                if(data.lowest==0){
                    $('.result').empty();
                    if(data.error_message==1){
                        console.log("java服务器异常");
                        return;
                    }
                    if(data.cpu1!=null){
                        $('.result').append("<li class='news-item'><table cellpadding='4'><tr><h3>方案一：新硬件</h3> <h3>CPU:"+data.cpu1+"</h3><h3>GPU:"+data.gcard1+"</h3> <h3>内存:"+data.ram+"</h3><h3>硬盘:"+data.rom+"</h3><h3>跑分:"+data.score1+"</h3><h3>价格:"+data.price1+"</h3></tr> </table> </li>");

                    }
                    if(data.cpu2!=null){
                        $('.result').append("<li class='news-item'><table cellpadding='4'><tr><h3>方案二：旧硬件</h3> <h3>CPU:"+data.cpu2+"</h3><h3>GPU:"+data.gcard2+"</h3> <h3>内存:"+data.ram+"</h3><h3>硬盘:"+data.rom+"</h3></tr> </table> </li>");
                    }
                }else {
                    $('.result').empty();
                    $('.result').append("<li class='news-item'><table cellpadding='4'><tr> <h3>最低预算="+data.lowest+"</h3> </tr> </table> </li>");
                }
            })
        }

    }
    function validate(data,select_json_flag){
        var reg = new RegExp("^[0-9]*$");
        var obj = data;
        if(!reg.test(obj)){
            alert("请输入数字!");
            select_json_flag=-1;
        }
        else if(!/^[0-9]*$/.test(obj)){
            alert("请输入数字!");
            select_json_flag=-1;
        }
        else {
            select_json_flag=1;
        }
    }
    function session_check() {
        uname=cookie.get('uname');
        if(uname==null)logout();
    }
    function logout() {
        $.ajax({
            url:'/logout',
            type:'post',
            success: function(result,status){
                console.log(result,status);
                if(result.success==1){
                    cookie.delete("uname");
                    location.href = 'login.html';
                }
                else {
                    console.log('ERROR');
                    cookie.delete("uname");
                    location.href = 'login.html';
                }
            },
            error: function(result,status){
                console.log('ERROR');
                cookie.delete("uname");
                location.href = 'login.html';
            }
        });

    }
    Ladda.bind( 'div:not(.progress-demo) button', { timeout: 2000 } );
    // Bind progress buttons and simulate loading progress
</script>
</html>