<html>
<head>
    <title>
        硬件计算|新闻发布
    </title>
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href='stylesheets/normalize.css' />
    <link rel="stylesheet" type="text/css" href='stylesheets/default.css'>
    <link href='stylesheets/bootstrap-theme.min.css' rel="stylesheet" type="text/css" />
    <link href='stylesheets/site.css' rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/cookie.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/jquery.min.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
    <div class="container"> <a class="navbar-brand" href="index2.html"><i class="fa fa-laptop"></i> 硬件计算</a>
        <div class="menu"> <a class="toggleMenu" href="#"><img src="images/nav_icon.png" alt="" /> </a>
            <ul class="nav" id="nav">
                <li class="current"><a href="index2.html">主页</a></li>
                <li><a href="newspush2.html">新闻发布</a></li>
                <li><a href="services.html">硬件计算</a></li>
                <li><a href="news.html">新闻</a></li>
                <li><a class="login" href="login.html">登录</a></li>
                <li><a  class= "signin" href="register.html">注册</a></li>
                <div class="clear"></div>
            </ul>
            <script type="text/javascript" src="js/responsive-nav.js"></script>
        </div>
    </div>
</div>
<div class="about">
    <div class="container">
        <section class="title-section">
            <h1 class="title-header">新闻发布</h1>
        </section>
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="row contact_top">
<!--左侧个人信息-->
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span><b>用户信息</b></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="demo1">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>  

<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span><b>配置</b></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="demo2">
                        <form class="bs-example bs-example-form" role="form">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">标题</span>
                                <input type="text" class="form-control" id="title">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon">图片url</span>
                                <input type="text" class="form-control" id="image">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon">原文url</span>
                                <input type="text" class="form-control" id="text">
                            </div>
                            <br>
                            <form role="form">
                                <div class="form-group">
                                    <label for="name">概述</label>
                                    <textarea class="form-control" rows="6" id="keywords"></textarea>
                                </div>
                            </form>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info col-sm-2 col-sm-offset-10" onclick="submit()">提交</button>
                            </div>
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
<div class="footer">
    <div class="footer_bottom">
        <div class="follow-us"> <a class="fa fa-facebook social-icon" href="#"></a> <a class="fa fa-twitter social-icon" href="#"></a> <a class="fa fa-linkedin social-icon" href="#"></a> <a class="fa fa-google-plus social-icon" href="#"></a> </div>
        <div class="copy">
            <p>Copyright &copy; 2017 硬件推荐 </p>
        </div>
    </div>
</div>         
</body>
<script>
    $(function () {
        session_check();
        console.log(cookie.get("uname"));
        $('#username').text(cookie.get("uname"));
        $('.demo1').append("<li class='user-item'><table cellpadding='4'><tr> <h3>"+cookie.get("uname")+"</h3> </tr> </table> </li>");
    })
    function submit() {
        var image = $("#image").val();
        var title = $("#title").val();
        var keywords = $("#keywords").val();
        var text = $("#text").val();
        var date = new Date();
        var data = {"image":image,"title":title,"keywords":keywords,"text":text,"time":date};
        $.ajax({
            url: '/setNews',
            type: 'post',
            data: data,
            success: function(result,status){
                console.log(result);
                if(result.success == 1){
                    location.href = 'newspush2.html';
                }
                else if(result.same == 1){
                    alert("标题名重复");
                }
                else {
                    alert("系统错误，请重试");
                }
            },
            error: function(data,err){
            }
        });
    }
    function logout() {
        cookie.delete("uname");
        location.href = 'login.html';
    }
    function session_check() {
        uname=cookie.get('uname');
        if(uname==null){
            $(".login").text("登录");
            $(".signin").text("注册");
            $(".login").attr('href','login.html');
            $(".signin").attr('href','register.html');
            $(".signin").removeAttr('onclick');
            $('.demo1').append("<li class='news-item'><table cellpadding='1'><i class='fa fa-warning fa-lg'style='color:red;'></i>为了方便您比较查询到的结果，我们强烈建议您注册登录我们的网站 </table> </li>");
            $('.demo3').append("<li class='news-item'><table cellpadding='1'><i class='fa fa-warning fa-lg'style='color:red;'></i>您还未登陆，无法使用该功能 </table> </li>");
        }
        else{
            $(".login").text(uname);
            $(".signin").text("log out");
            $(".login").attr('href','#');
            $(".signin").attr('href','#');
            $(".signin").attr('onclick','logout()');
        }
    }
</script>
</html>