*{
	margin: 0px;
	padding:0px;
}
.center{
	float: left;
	width: 750px;
	height: 550px;
	margin-left: 20px;
	margin-top: 20px;
}
#myCanvas{
	float: left;
	width: 750px;
	height: 450px;
	background-color: white;
}
#inform{
	margin-top: 20px;
	margin-left: 30px;
	float: left;
	width: 350px;
	height: 450px;
	
}
#inform #topic{
	font-size: 17px;
	padding: 10px;
	height: 75px;
	width: 300px;
	line-height: 13px;
	background-color: green;
	color: white;
}
#inform #chat{
	padding-top: 10px;
	height: 350px;
	background-color: rgba(0,0,0,0.1);
	width: 300px;
	margin: 0px;
	
}
#inform #chat div{
	overflow:hidden;
	position: relative;
	width: 260px;
	height: 330px;
	margin: 0px auto;
}
#inform #chat ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
} 
#inform #chat ul li.correct{
	color: red;
}
#inform #enter{
	height: 50px;
}
#inform #enter [type=text]{
	width: 242px;
}
#players{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	padding: 0px;
	height: 450px;
	width: 150px;
}
#players li{
	list-style: none;
	margin: 0px;
	font-size: 20px;
	width: 100%;
	padding: 10px;
	line-height: 20px;
}
#players li.turnin{
	background-color: black;
	color: white;
}
#players li.correct{
	background-color: orange;
	color: white
}
#players li p{
	font-size: 13px;
	margin: 0px;
}
#play{
	background-color: #ebebcb;
	height: 100%;
}
#play>div:nth-of-type(1){
	height: 100%;
	width: 100%;
}
.head{
	text-align: right;
	width: 100%;
	height: 30px;
}
